/* ------------------------------------------ Body -------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Handlee');
body{text-align: center; background-color: #71a6d2;}

body input{font-family: 'Handlee', cursive;} 


/* ------------------------------------------ Cabeçalho ------------------------------------------------------*/

#titulo{ font-size: 100px; color: blue; font-family: 'Dancing Script', cursive;}

/* -------------------------------------------- Motivos --------------------------------------------------------*/
main div {font-family: 'Handlee', cursive;}
main div .input-group{font-family: 'Handlee', cursive;} 

ul li{list-style: none;font-family: 'Handlee', cursive;}
a {text-decoration: none;}