/* ------------------------------------------ Body -------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{text-align: center}


/* ------------------------------------------ Cabeçalho ------------------------------------------------------*/

#titulo{ font-size: 100px; color: blue; font-family: 'Dancing Script', cursive;}

/* -------------------------------------------- Motivos --------------------------------------------------------*/


ul li{list-style: none;}
a {text-decoration: none;}